# Logging Configuration
LOG_LEVEL=DEBUG
LOG_FILE=logs/app.log
LOG_ROTATION=10 MB
LOG_RETENTION=1 week
LOG_COMPRESSION=zip

# GTFS Data Source
GTFS_URL=https://www.data.gouv.fr/api/1/datasets/r/e0dbd217-15cd-4e28-9459-211a27511a34